name: Terraform Infra

on:
  push:
    branches: [main]

jobs:
  apply:
    runs-on: ubuntu-latest
    environment: dev

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_CI_SA }}

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
        working-directory: terraform/envs/dev

      - run: terraform apply -auto-approve
        working-directory: terraform/envs/dev
