name: Terraform Infra

on:
  push:
    branches: [main]

env:
  TF_WORKING_DIR: terraform/envs/dev

jobs:
  apply:
    name: Apply Terraform
    runs-on: ubuntu-latest
    environment: dev

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_CI_SA }}

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="project_id=${{ secrets.GCP_PROJECT_ID }}" \
            -var="project_number=${{ secrets.PROJECT_NUMBER }}" \
            -var="gcp_ci_sa=${{ secrets.GCP_CI_SA }}" \
            -var="env=${{ env.ENV }}" \
            -var="var_github_org=${{ secrets.VAR_GITHUB_ORG }}" \
            -var="repo=${{ secrets.REPO }}" \
            -var="gcp_wif_provider=${{ secrets.GCP_WIF_PROVIDER }}"
        working-directory: ${{ env.TF_WORKING_DIR }}
